.news-card {
    display: inline-block;
    width: 300px;
    margin: 20px;
}
.news-title, .news-tag{
    margin: 0;
}
.news-like, .news-view {
    float: right;
}

.news-title {
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    overflow: hidden;
}
.news-tag {
    margin-top: 5px;
    font-size: 14px;
    color: #777;
}
.news-bottom-info {
    font-size: 12px;
    color: #777;
    line-height: 40px;
}
.news-text-wrapper {
    padding: 0 10px;
}
.news-view {
    margin-left: 20px;
}