/*reset*/
body, html {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

*{
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .side-bar, .header-tab-bar, .news-list-action {
    display: none;
  }

  .header-title {
    padding: 0;
    text-align: center;
  }

  .news-list {
    padding: 0 !important;
  }

  .news-card {
    margin: 0 !important;
    width: 100% !important;
  }

  .get-more-btn {
    position: relative !important;
    width: 100% !important;
    margin: 0 !important;
    left: 0 !important;
  }



}
/*top bar*/
.header {
  width: 100%;
  background: #3F51B5;
}

.header-title {
  margin: 0;
  width: 100%;
  line-height: 200px;
  padding-left: 10%;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
}

.header-tab-bar {
  height: 60px;
  background: #283593;
  padding-left: 16px;
}

.tab-item {
  display: inline-block;
  width: 120px;
  line-height: 60px;
  color: #9E9E9E;
  text-align: center;
}

.ban-item {
  cursor: not-allowed;
}

.tab-item-active {
  color: #ffffff;
}

.tab-line {
  width: 120px;
  margin-top: -2px;
  height: 2px;
  background: #4DD0E1;
}

#search_btn {
  display: inline-block;
  width: 60px;
  line-height: 60px;
  color: #9E9E9E;
  text-align: center;
}

.search-input {
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
}
/*news page*/
.news-page {
  width: 100%;
}

.news-page-content {
  display: flex;
  width: 100%;
  height: 100%;
}

/*side bar*/
.side-bar {
  flex: none;
  width: 250px;
  padding-top: 20px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  overflow-y: scroll;
}



.side-bar a {
  display: block;
  width: 100%;
  height: 50px;
  padding-left: 45px;
  line-height: 50px;
  color: #000000;
}

.side-bar a:hover {
  background: #eeeeee;
}

.search-item input {
  display: block;
  margin: 0 auto;
  outline: none;
  border: 1px solid #000000;
}


/*footer*/
.main-footer {
  width: 100%;
  height: auto;
  background: #222222;
}

.footer-middle-section {
  display: flex;
  width: 100%;
  height: auto;
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 30px;
}

.footer-col {
  flex: 1;
}

.footer-headline {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 400;
  padding-left: 40px;
}

.footer-link-list a {
  color: #aaaaaa;
  font-size: 14px;
}

.footer-bottom {
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
}

.footer-bottom p {
  color: #999999;
  font-size: 12px;
  text-align: center;
}


/*news list*/
.news-list-wrapper {
  position: relative;
}

.news-list {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 800px;
}

.get-more-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #283593;
  cursor: pointer;
}

.news-list-action {
  position: fixed;
  right: 20px;
  bottom: 50px;
}

.news-list-btn {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: #cccccc;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

.news-list-btn:hover {
  background: #aaaaaa;
}

.search-wrapper {
  display: none;
  position: fixed;
  bottom: 180px;
  right: 80px;
  width: 400px;
  height: 50px;
}

.search-wrapper input {
  outline:none;
  border: 1px solid #aaa;
  width: 400px;
  height: 50px;
  border-radius: 25px;
  font-size: 16px;
  padding-left: 20px;
}

.search-wrapper i {
  position: absolute;
  right: 16px;
  font-size: 22px;
  top: 11px;
}


/*news card*/
.news-card {
  display: block;
  width: 312px;
  max-height: 389px;
  margin: 30px;
  border-radius: 2px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.news-card:hover {
  box-shadow: 0 10px 16px rgba(0,0,0,0.25);
  cursor: pointer;
}

.news-card-media {
  width: 100%;
  height: 200px;
  background: #666;
  background-size: cover;
  background-position: center;
  transition: all .3s;
}

.news-card-title {
  margin: 0;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  height: 88px;
  overflow-y: hidden;
  color: #222222;
}

.news-card-tags {
  padding: 10px 10px 10px 20px;
  margin: 0;
  font-size: 14px;
  color: #666666
}

.news-card-info {
  padding: 20px;
}
.news-card-info span {
  line-height: 20px;
  font-size: 14px;
  margin-right: 20px;
  color: #777777;
}

.news-card-info span i {
  margin-right: 5px;
}

/*news detail*/
.news-detail-page, .news-detail-container {
  width: 100%;
}

.news-detail-paper {
  max-width: 1000px;
  min-height: 1000px;
  margin: 50px auto;
  padding: 30px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
}

.news-detail-tags {
  font-size: 14px;
  color: #666;
  line-height: 25px;
}

.news-detail-title {
  font-size: 24px;
  font-weight: 400;
  color: #222222;
}

.news-detail-info {
  font-size: 14px;
  color: #666666;
}

.news-detail-info span{
  margin-right: 15px;
}

.news-detail-header {
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

/*menu item*/
.menu-item {
  cursor: pointer;
}
.children a{
  padding-left: 50px;

}

.toggle-arrow {
  float: right;
  line-height: 50px;
  padding-right: 25px;
}


/*loading*/

.loading{
  position: fixed;
  bottom: 30px;
  left: 50px;
}

.spinner {
  margin: 100px auto;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #283593;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin-right: 5px;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}

/*notification*/
.notification {
  position: fixed;
  width: 200px;
  height: 30px;
  background: beige;
  bottom: 0;
  left: 50%;
  margin-left: -100px;
}












